<!DOCTYPE html>
<html>
    <head>
        <title>
            Armazon
        </title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="brand" href="index.html">Armazon</a>
                </div>
                <div>
                    
                    <a href="signin.html">Sign In</a>
                    <a href="cart.html">Cart</a>
                </div>
            </header>
            <main>
                <!-- Main body -->
                <div class="row center">
                    <!-- Cards of products -->
                    <div class="card">
                        <a href="product.html">
                            
                            <img class="medium" src="./images/smartwatch.png" alt="product"/>

                        </a>
                        <div class="card-body">
                            
                            <a href="product.html">
                                <h2>Alma Watch Series 7</h2>
                            </a>
                            <div class="price">299 $</div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            
                            <img class="medium" src="./images/marsrover.png" alt="product"/>

                        </a>
                        <div class="card-body">
                            
                            <a href="product.html">
                                <h2>Mars Rover</h2>
                            </a>
                            <div class="price">1.299 $</div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            
                            <img class="medium" src="./images/tesla.png" alt="product"/>

                        </a>
                        <div class="card-body">
                            
                            <a href="product.html">
                                <h2>Tesla Model X</h2>
                            </a>
                            <div class="price">36.000 $</div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            
                            <img class="medium" src="./images/falcon.png" alt="product"/>

                        </a>
                        <div class="card-body">
                            
                            <a href="product.html">
                                <h2>Falcon Heavy</h2>
                            </a>
                            <div class="price">820.000.000 $</div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            
                            <img class="medium" src="./images/imac.png" alt="product"/>

                        </a>
                        <div class="card-body">
                            
                            <a href="product.html">
                                <h2>iMac Pro</h2>
                            </a>
                            <div class="price">2.000 $</div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            
                            <img class="medium" src="./images/phone.png" alt="product"/>

                        </a>
                        <div class="card-body">
                            
                            <a href="product.html">
                                <h2>iPhone 14 Pro</h2>
                            </a>
                            <div class="price">1.300 $</div>
                        </div>
                    </div>




                </div>
            </main>
            <footer class="row center">
                All Rights Reserved. Armazon 2021
            </footer>
        </div>
    </body>
</html>