html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1 rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

/* Layout */

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
  color: white;
  height: 6rem;
}

main {
  grid-area: main;
  padding: 1rem;
  width: 50%;
  justify-self: center;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: white;
}

/* Common */

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

/* Header */

header a {
  padding: 1rem;
  color: white;
}

a.brand {
  font-size: 3rem;
  font-weight: bold;
}

header a:hover {
  box-sizing: border-box;
  color: darkorange;
  border: 1px solid white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

/* Image */
img.medium {
  max-width: 29rem;
  width: 100%;
  background-color: rgb(236, 239, 243);
}

/* Card */
.card {
  background-color: white;
  margin: 1rem;
  border: 0.1rem solid #203040;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}
